//productos y index

.parrafo-index{
    color: white;
    text-align: center;
    font-size: 40px;

}

.conocenos {
    color: white;
    text-align: center;
    font-size: 70px;
}

video{
    width: 650px;
    height: 400px;
}
