@media (max-width: 1000px){
    //navbar
    .navbar-brand{
        display: flex;
        justify-content: end;
    }
    //Galeria
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
        
        .grid-item{
        
            margin: 0 0 0 30px;
            width: 100%;
            height: 100%;
            display: flex;
            
            object-fit: cover;
        }
        .item1{
            grid-column-start: 1;
            grid-column-end: 3;
            display: flex;
            justify-content: center;
        
        
        }
    }
    
    //nosotros
    article{
        .video-promo{
        display: flex;
        justify-content: center;
        
        
        iframe{
        margin: 0 0 0 50px;
        width: 300px;
        height: 300px;
        }
        h1{
            margin: 30px;
            text-align: center;
            color: white;
            font-size: 30px;
            line-height: 1;
            font-weight: bolder;
        }
    }
//index
    .parrafo-index{
        padding: 15px;
        color: white;
        text-align: center;
        font-size: 25px;
    
    }

    video{
        width: 300px;
        height: 300px;
    }
}

    
    .parrafo-section {
            p{
        padding: 80px;
        color: white;
        font-size: 20px;
        text-align: center;
        line-height: 2;
    } 
}

//formulario
    .section-form{
        color: white;
        padding: 50px 15px;
    
        .content{
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
            padding: 15px;
        
            .contact-wrapper{
                box-shadow: 0 0 20px 0 rgba(223, 191, 9, 0.979); 
            
            
                .contact-form{
                    background-color: #222222;
                    .form{
                        margin-left: 85px;
                        margin-right: 104px;
                        font-size: 30px;
                        color: white;
                        font-weight: bolder;
                        padding: 100px;
                        text-align: center;
                        font-size: 50px;
                
                    }
                    form{
                        margin: 0;
                        padding: 15px;
                    }
                    form{
                        display: grid;
                        grid-template-columns: 1fr ;
                        padding: 5px;
                    
                        .p-form{
                            margin: 35px;
                            textarea{
                                width: 100%;
                                padding: 15px;
                                border: none;
                                background-color: #222222;
                                outline: 0;
                                border-bottom: 1px solid #dab901;
                                color: white;                            
                            }
                            input{
                                width: 100%;
                                padding: 15px;
                                border: none;
                                background-color: #222222;
                                outline: 0;
                                border-bottom: 1px solid #dab901;
                                color: white;
                            }
                            button{
                                width: 50%;
                                padding: 15px;
                                border: none;
                                background-color: #222222;
                                outline: 0;
                                border-bottom: 1px solid #dab901;
                                color: white;
                            }
                        }
                        button{
                            background-color: #dab901;
                            color: black;
                            border: 0;
                            font-weight: bolder;
                            text-transform: uppercase;
                            margin-top: 15px;
                            padding: 15px;
                            border-radius: 15px;
                        
                        
                            &:hover{
                                background-color: #333;
                                color: white;
                                transition: background-color 1s ease-out;
                                outline: 0;
                            }
                            &:focus{
                                background-color: #333;
                                color: white;
                                transition: background-color 1s ease-out;
                                outline: 0;
                            }
                        }
                        .block{
                            grid-column: 1 / 2;
                        }
                    }
                
                }
            
                .contact-info{
                    background-color: black;
                    h4{
                        text-align: center;
                        font-size: bolder;
                        padding: 15px 0;
                        font-size: 15px;
                    }
                
                }
                > * {
                    padding: 100px;
                }
            } 
        }
    
    }

    footer{
            .redes-container{
                    ul{
                    margin-bottom: -5rem;
                }      
            }

            div{
                ul{
                    .pie-p{
                        p{
                            font-size: 15px;
                        }
                        }  
                    }
                }
        }  
    }


@media (max-width: 768px) {
    .navbar-brand{
        display: flex;
        justify-content: end;
    }
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
        
        .grid-item{
            margin: 10px 10px 10px 10px;
            width: 300px;
            height: 300px;
            display: flex;
            object-fit: cover;
        }
        .item1{
            grid-column-start: 1;
            grid-column-end: 2;
            display: flex;
            justify-content: center;
        
        
        }
    }
    
    .logo-form{
        margin: 0 0 0 108px;
        width: 40%;
        object-fit: cover;
    }
    
    article{
        iframe{
        margin: 0 0 0 50px;
        width: 300px;
        height: 300px;
        }
        video{
            width: 300px;
            height: 300px;
        }
        .parrafo-index{
            padding: 15px;
            color: white;
            text-align: center;
            font-size: 25px;
        
        }
        h1{
            margin: 30px;
            text-align: center;
            color: white;
            font-size: 30px;
            line-height: 1;
            font-weight: bolder;
        }
    }
    .section-form{
        color: white;
        padding: 50px 15px;
    
        .content{
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
            padding: 15px;
        
            .contact-wrapper{
                box-shadow: 0 0 20px 0 rgba(223, 191, 9, 0.979); 
            
            
                .contact-form{
                    background-color: #222222;
                    .form{
                        margin-left: -155px;
                        margin-right: 104px;
                        font-size: 30px;
                        color: white;
                        font-weight: bolder;
                        padding: 100px;
                        text-align: center;
                        font-size: 35px;
                
                    }
                    form{
                        margin: 0;
                        padding: 15px;
                    }
                    form{
                        display: grid;
                        grid-template-columns: 1fr ;
                        padding: 5px;
                    
                        .p-form{
                            padding:15px ;
                            margin: 0px;
                            textarea{
                                width: 100%;
                                padding: 15px;
                                border: none;
                                background-color: #222222;
                                outline: 0;
                                border-bottom: 1px solid #dab901;
                                color: white;                            
                            }
                            input{
                                width: 100%;
                                padding: 15px;
                                border: none;
                                background-color: #222222;
                                outline: 0;
                                border-bottom: 1px solid #dab901;
                                color: white;
                            }
                            button{
                                width: 50%;
                                padding: 15px;
                                border: none;
                                background-color: #222222;
                                outline: 0;
                                border-bottom: 1px solid #dab901;
                                color: white;
                            }
                        }
                        button{
                            background-color: #dab901;
                            color: black;
                            border: 0;
                            font-weight: bolder;
                            text-transform: uppercase;
                            margin-top: 15px;
                            padding: 15px;
                            border-radius: 15px;
                        
                        
                            &:hover{
                                background-color: #333;
                                color: white;
                                transition: background-color 1s ease-out;
                                outline: 0;
                            }
                            &:focus{
                                background-color: #333;
                                color: white;
                                transition: background-color 1s ease-out;
                                outline: 0;
                            }
                        }
                        .block{
                            grid-column: 1 / 2;
                        }
                    }
                
                }
            
                .contact-info{
                    background-color: black;
                    h4{
                        text-align: center;
                        font-size: bolder;
                        padding: 15px 0;
                        font-size: 15px;
                    }
                
                }
                > * {
                    padding: 100px;
                }
            } 
        }
    
    }
    
    .parrafo-section{
        p{
        padding: 80px;
        color: white;
        font-size: 20px;
        text-align: center;
        line-height: 2;
        } 
    }   
    footer{
        .redes-container{
                ul{
                margin-bottom: -5rem;
            }      
        }

        div{
            ul{
                .pie-p{
                    p{
                        font-size: 15px;
                    }
                    }  
                }
            }
    }  
}
