main{
    article{
        .video-promo{
            display: flex;
            justify-content: center;
        }


        iframe{
            width: 500px;
            height: 700px;
        }

        .firma{
            color: white;
            text-align: end;
            font-size: 20px;
            padding: 15px 0;
            font-weight: bolder;
        }
    }
}