.video-promo{
    display: flex;
    justify-content: center;
}


iframe{
    width: 500px;
    height: 700px;
}

h3{
    
    color: white;
    text-align: end;
    font-size: bolder;
    padding: 15px 0;
    font-size: 25px;
}