
/*productos*/

.parrafo-section{
        h2{
            color: white;
            font-size: 35px;
            text-align: center;
            font-weight: bolder;
            line-height: 5;
    }

    p{
        padding: 80px;
        color: white;
        font-size: 25px;
        text-align: center;
        line-height: 5;
    }
}

